<ion-header>

  <ion-navbar color="light">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: white">

  <ion-grid class="placa">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <img align-items="middle" src="../../assets/imgs/placa.jpg" />
    </ion-row>
  </ion-grid>

</ion-content>

