<!--
  Generated template for the RecoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recuperar Senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row class="row-1" padding-left>
          Digite seu email cadastrado
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" [(ngModel)]="user.email"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
            <button ion-button block (click)="recoverPass(user)">Recuperar senha</button>
        </ion-row>
      </ion-grid>
</ion-content>
