!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Nutri - APP</strong>
      </h2>
    </div>

    <!-- Login form -->
    <form novalidate class="list-form" [formGroup]="registerForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nome Completo
        </ion-label>
        <ion-input type="text"  formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email"  formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha
        </ion-label>
        <ion-input type="password"  formControlName="password"></ion-input>
      </ion-item>
    </form>

    <div margin-top>
      <button (click)="register()" ion-button block color="dark" tappable [disabled]="registerForm.invalid">
        CADASTRAR
      </button>

      <p text-center ion-text color="secondary">Ou Cadastrar com:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="loginPage()">Eu já possuo uma conta</span>
    </div>

  </div>
</ion-content>
