<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Minha Conta</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-item>
    <ion-thumbnail item-start>
      <img [src]="user.photo">
    </ion-thumbnail>
    <h2>{{ user.name? user.name: ''}}</h2>
    <p>email: {{ user.email? user.email: ''}}</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</ion-content>
