<ion-header>

  <ion-navbar color="danger">
    <ion-title>Post</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <div *ngIf="post && categories && user">
    <div>
      <img [src]="post.better_featured_image.source_url" class="imgTopo" />
    </div>

    <div class="post-title" [innerHTML]="post.title.rendered" ></div>
    <p [innerHTML]="post.content.rendered"></p>

    <ion-row>
      <ion-col>
        <ion-icon name="calendar"></ion-icon>
        {{post.date.split('T')[0] | date: 'd MMM, y'}}
      </ion-col>
      <ion-col text-right>
        <ion-icon name="person"></ion-icon>
        {{user}}
      </ion-col>
    </ion-row>
    <p>Categoria:</p>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let category of categories">
          <ion-badge>{{ category.name }}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>