page-post {
    .imgTopo{
        width: 100%;
    }

    .post-title{
        display: block;
        font-size: 1.8rem;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 7px 0;
    }
}
